<div class="container">

  <h1 class="title">Tic - Tac - Toe</h1>

  <div class="clearfix">
    <button type="button" id="newGameButton" class="button pull-right">New Game</button>
  </div>

  <div class="messages">
    <p>Start the game!</p>
  </div>

  <div class="row table-board">
    <div class="col-md-4 left-col">
      <div class="row top-row">
        <div id="cell-0" class="col-md-12 cell"><p>&nbsp;</p></div>
      </div>
      <div class="row mid-row">
        <div id="cell-3" class="col-md-12 cell"><p>&nbsp;</p></div>
      </div>
      <div class="row bot-row">
        <div id="cell-6" class="col-md-12 cell"><p>&nbsp;</p></div>
      </div>
    </div>
    <div class="col-md-4 center-col">
      <div class="row top-row">
        <div id="cell-1" class="col-md-12 cell"><p>&nbsp;</p></div>
      </div>
      <div class="row mid-row">
        <div id="cell-4" class="col-md-12 cell"><p>&nbsp;</p></div>
      </div>
      <div class="row bot-row">
        <div id="cell-7" class="col-md-12 cell"><p>&nbsp;</p></div>
      </div>
    </div>
    <div class="col-md-4 right-col">
      <div class="row top-row">
        <div id="cell-2" class="col-md-12 cell"><p>&nbsp;</p></div>
      </div>
      <div class="row mid-row">
        <div id="cell-5" class="col-md-12 cell"><p>&nbsp;</p></div>
      </div>
      <div class="row bot-row">
        <div id="cell-8" class="col-md-12 cell"><p>&nbsp;</p></div>
      </div>
    </div>
  </div>

</div>


