<div class="container">

  <h1 class="title">Tic - Tac - Toe</h1>

  <div class="clearfix">
    <a class="button pull-right" href="#">New Game</a>
  </div>

  <div class="row table-board">
    <div class="col-md-4 left-col">
      <div class="row top-row">
        <div class="col-md-12 cell"><p>&nbsp;</p></div>
      </div>
      <div class="row mid-row">
        <div class="col-md-12 cell"><p>&nbsp;</p></div>
      </div>
      <div class="row bot-row">
        <div class="col-md-12 cell"><p>&nbsp;</p></div>
      </div>
    </div>
    <div class="col-md-4 center-col">
      <div class="row top-row">
        <div class="col-md-12 cell"><p>&nbsp;</p></div>
      </div>
      <div class="row mid-row">
        <div class="col-md-12 cell"><p>&nbsp;</p></div>
      </div>
      <div class="row bot-row">
        <div class="col-md-12 cell"><p>&nbsp;</p></div>
      </div>
    </div>
    <div class="col-md-4 right-col">
      <div class="row top-row">
        <div class="col-md-12 cell"><p>&nbsp;</p></div>
      </div>
      <div class="row mid-row">
        <div class="col-md-12 cell"><p>&nbsp;</p></div>
      </div>
      <div class="row bot-row">
        <div class="col-md-12 cell"><p>&nbsp;</p></div>
      </div>
    </div>
  </div>

  <div class="messages">
    <p>Start the game!</p>
  </div>

</div>


