// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';

body {
  background-color: #532B4B;
}

.title {
  text-align: center;
  color: #FAF8F0;
  text-transform: uppercase;
}

.button {
  background-color: #FAF8F0;
  border-left: 5px solid #E3AA6E;
  text-decoration: none;
  padding: 12px;
  color: #532B4B;
  font-size: 24px;
  &:hover {
    color: #8A5066;
  }
}

.table-board {
  margin: 48px 0;
  .cell {
    border: 5px solid #E3AA6E;
    font-size: 64px;
    text-align: center;
    .cross {
      color: #C3C4C9;
    }
    .circle {
      color: #7C7A7F;
    }
    &:hover {
      background-color: #8A5066;
      cursor: pointer;
    }
  }
  .winner-row {
    background-color: #8A5066;
  }
  .left-col .cell {
    border-left: none;
  }
  .center-col .cell {
  }
  .right-col .cell {
    border-right: none;
  }
  .top-row .cell  {
    border-top: none;
  }
  .mid-row .cell  {
  }
  .bot-row .cell  {
    border-bottom: none;
  }
}

.messages {
  background-color: #FAF8F0;
  border-left: 5px solid #E3AA6E;
  color: #7788A2;
  text-align: center;
  padding: 12px 0;
}
